.contato-container {
  justify-content: space-around;
  border-radius: 40px;
  margin: 20px;
  background-color: rgb(51, 204, 255);
  display: flex;
  justify-content: baseline;
  flex-direction: row;
}

.text-lateral {
  font-size: 30px;
  text-align: center;
  align-self: center;
  max-width: 30%;
  line-height: 40px;
}
.formulario {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}

.termos {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button {
  border-radius: 10px;
  background: white;
  border: none;
  margin: 0 auto;
  padding: 5px;
  width: 120px;
}
